<button mat-raised-button color="accent">Hello World</button>

<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">Headline</div>
<div class="mat-title">This is title</div>
<div class="mat-subheading-2">This is subheading 2</div>
<div class="mat-subheading-1">This is subheading 1</div>

<div class="mat-body-1">body 1</div>
<div class="mat-body-2">This is body 2</div>
<div class="mat-caption">This is caption</div>

<div class="mat-typography">
    <h1>This is heading for h1</h1>
    <h2>This is heading for h2</h2>
    <h3>This is heading for h3</h3>
    <h4>This is heading for h4</h4>
</div>
<br>


<div>
    <button mat-button>click</button>
    <button mat-raised-button>click</button>
    <button mat-flat-button>click</button>
    <button mat-stroked-button>click</button>
</div>

<div>
    <button mat-icon-button>click</button>
    <button mat-fab disableRipple="">Fab</button>
    <button mat-mini-fab>minifab</button>
</div>

<div>
    <!-- <mat-button-toggle #toggleBtn checked>toggle</mat-button-toggle>
    {{toggleBtn.checked}} -->

    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
        <mat-button-toggle value="angular">Angular</mat-button-toggle>
        <mat-button-toggle value="react">React</mat-button-toggle>
        <mat-button-toggle value="vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
</div>